export PORT='3000'

export CLIENT_ID='VZcQ5Jx98nSmzCsgmWmZDIplt4VEYXbm'
export AUTH0_DOMAIN='hmchen'
export CALLBACK_URL=''

export PUSH_SERVICE_HOST='http://localhost:3002'
export PUSH_SERVER_PUBLIC_KEY='BOB7SF-k07dn5op048CWZSVgBvU4zEJQyLdM7RfKgPO-o1H6UY8pz0fSUXlemWOpm06qhbBy7G3EPFNlBcoesBE'

export APP_SERVICE_HOST='http://localhost:3005'
